{% extends "core/base.html" %}

{% block title %}Detalhes do Dispositivo{% endblock %}

{% block content %}
<h1>Detalhes</h1>

<table class="table table-bordered">
  <tbody>
    <tr><th>Identifier</th><td>{{ device.identifier }}</td></tr>
    <tr><th>Model</th><td>{{ device.model }}</td></tr>
    <tr><th>Vendor</th><td>{{ device.vendor }}</td></tr>
    <tr><th>MAC</th><td>{{ device.mac_address }}</td></tr>
    <tr><th>IP Pública</th><td>{{ device.public_ip|default:'-' }}</td></tr>
    <tr><th>IP Privada</th><td>{{ device.private_ip|default:'-' }}</td></tr>
    <tr><th>IP (compat)</th><td>{{ device.ip_address|default:'-' }}</td></tr>
    <tr><th>SIP Server</th><td>{{ device.sip_server }}</td></tr>
    <tr><th>Porta</th><td>{{ device.port_server }}</td></tr>
    <tr><th>Protocol</th><td>{{ device.protocol_type }}</td></tr>
    <tr><th>User register</th><td>{{ device.user_register }}</td></tr>
    <tr><th>Passwd register</th><td><code>{{ device.passwd_register }}</code></td></tr>
    <tr><th>Display</th><td>{{ device.display_name }} / {{ device.display_number }}</td></tr>
    <tr><th>Backup</th><td>{{ device.backup_server }}</td></tr>
    <tr><th>Domain</th><td>{{ device.domain_server }}</td></tr>
    <tr><th>Time zone</th><td>{{ device.time_zone }}</td></tr>
    <tr><th>SRTP</th><td>{{ device.srtp_enable }}</td></tr>
    <tr><th>Provisioned at</th><td>{{ device.provisioned_at|default:'-' }}</td></tr>
    <tr><th>Attempts provisioning</th><td>{{ device.attempts_provisioning }}</td></tr>
    <tr><th>Exported to RPS</th><td>{{ device.exported_to_rps }}</td></tr>
  </tbody>
</table>

<div class="d-flex gap-2">
  <a class="btn btn-primary" href="{% url 'core:device_update' device.pk %}">Editar</a>
  <a class="btn btn-secondary" href="{% url 'core:device_list' %}">Voltar</a>
</div>
{% endblock %}